@using BeHiveV2Server.Areas.UserArea.Models;
@model AddDeviceModel

@{
    ViewData["Title"] = "add device";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div class="container-sm ms-auto me-auto mt-2">
    <div class="container-fluid">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="/devices">devices</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    add device
                </li>
            </ol>
        </div>
        <form method="post" class="col-8 offset-2">
            <div class="mb-3">
                <label class="form-label" for="serial">serial</label>
                <input class="form-control" id="serial" type="text" name="serial" value="@Model.serial" />
                @Html.ValidationMessageFor(m => m.serial, "", new { @class = "text-danger" })
            </div>

            <p>
                <input type="submit" class="btn btn-primary" name="submit" />
                <a href="/devices" class="btn btn-danger">storno</a>
            </p>
        </form>
    </div>
</div>